<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>

<footer class="bg-dark text-white">
    <div class="container mt-3">
        <nav class="d-flex mb-3">
            <a href="#" class="p-2 flex-fill">
                <img src="assets/logo-nobackground.png" alt="Alkemy Bank logo" class="img-fluid">
            </a>
            <div class="p-2 flex-fill">
                <app-tw-widget></app-tw-widget>
            </div>
            <div class="p-2 flex-fill">
                <ul class="col-12 col-md-3 list-unstyled px-3 justify-content-center">
                    <li class="font-weight-bold text-uppercase">Seguinos</li>
                    <li><a href="#" class="text-reset text-decoration-none pb-2">Linkedln</a></li>
                    <li><a href="#" class="text-reset text-decoration-none pb-2">Instagram</a></li>
                    <li><a href="#" class="text-reset text-decoration-none pb-2">Facebook</a></li>
                    <li><a href="#" class="text-reset text-decoration-none pb-2">Twitter</a></li>
                </ul>
            </div>
        </nav>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
    crossorigin="anonymous"></script>