<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
    </mat-card-header>
    <mat-card-title>{{firtsname}} {{lastname}}</mat-card-title>
    <mat-card-content>
        <mat-list role="list">
            <mat-list-item role="listitem">Nombre: {{firtsname}}</mat-list-item>
            <mat-list-item role="listitem">Apellido: {{lastname}}</mat-list-item>
            <mat-list-item role="listitem">Email: {{useremail}}</mat-list-item>
            <mat-list-item role="listitem">Monto: ${{useramount}}</mat-list-item>
        </mat-list>
    </mat-card-content>
  </mat-card>


  <p>fir</p>