  .example-card {
    margin: 1rem auto;
    max-width: 500px;
  }

  .example-header-image {
    height: 6rem;
    width: 6rem;
    background-image: url(../../../assets/favico.jpg);
    background-size: cover;
    background-position: center;
  }

  .example-header-image{
    display: block;
    margin: 1rem auto;
  }
    mat-card-title{
        text-align: center;
    }

    mat-list-item{
      text-overflow: ellipsis;
    }

::ng-deep .mat-card-header-text {
    display: none;
  }