h2{
    text-align: center;
    background-color: blue;
    color: white;
}
p{
    font-size: larger;
    background-color: white;
    
}
.card{
    width: 18rem;
}
.card-body{
    background-image: url("https://www.freepik.es/foto-gratis/mujer-joven-disfrutando-viaje-carretera_10852164.htm#query=auto&position=1&from_view=search&track=sph");
}