<form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" class="reset-container">
  <mat-form-field appearance="fill">
    <mat-label>E-mail: </mat-label>
    <input type="email" matInput id="email" formControlName="email" required matInput placeholder="pat@example.com">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label for="password">Password: </mat-label>
    <input id="password" type="password" formControlName="password" matInput class="reset-right-align" [type]="hide ? 'password' : 'text'">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label for="confirmpassword">Confirmar password: </mat-label>
    <input id="confirmpassword" type="password" formControlName="confirmpassword" class="reset-right-align" matInput
      [type]="hide ? 'password' : 'text'">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit" class="button" class="reset-right-align">Submit</button>

</form>
<hr>