.purple-text {
    color: #9C27B0;
}

.logo-bg {
    // background-color: #f3f4f8;
    background-color: #000137;
}

.relative-position {
    position: relative;
}

img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

:host ::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid .mat-form-field-outline-thick, 
:host ::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label, .mat-error {
      color: #fff !important;
}