<div class="container-fluid overflow-hidden gradient">
    <div class="row justify-content-center align-items-center vh-100">
        <div *ngIf="!(loading$ | async)" class="col-md-12 col-sm-12 col-lg-6 col-12 text-white">
            <div class="mx-auto w-75">
                <p class="fw-bold fs-1 text-center">¡Bienvenido de vuelta!</p>
                <p class="mt-5 fs-4 text-center">Bienvenido, por favor ingrese sus credenciales.</p>
                <form [formGroup]="form" (ngSubmit)="Login()">
                    <div class="mb-3 mt-5">
                        <mat-form-field class="w-100" appearance="outline">
                            <mat-label>Email</mat-label>
                            <input type="email" matInput autocomplete="off" formControlName="email">
                            <mat-error class="text-center">
                                Por favor ingrese una dirección de e-mail correcto
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="mb-3">
                        <mat-form-field class="w-100" appearance="outline">
                            <mat-label>Contraseña</mat-label>
                            <input type="password" matInput autocomplete="off" formControlName="password">
                            <mat-error class="text-center">
                                Por favor ingrese una contraseña de 6 caracteres mínimo
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="d-grid gap-2 mb-3">
                        <button mat-raised-button color="primary" class="p-2">
                            Iniciar sesión
                        </button>
                    </div>
                    <p class="text-center mt-4 fs-6">¿No tienes una cuenta? <a class="text-decoration-none purple-text fw-bold" routerLink="/register">Registrate</a></p>
                </form>
            </div>
        </div>
        <div *ngIf="(loading$ | async)" class="col-md-12 col-sm-12 col-lg-6 col-12">
            <app-spinner [isLoading]="(loading$ | async)"></app-spinner>
        </div>
        <div class="col-6 logo-bg h-100 d-none d-lg-block text-center relative-position">
            <img src="/assets/logo-nobackground.png" class="img-fluid padding-top" alt="logo">
        </div>
    </div>
</div>