<div class="example-container">
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <a class="text-decoration-none text-white" routerLink="/home"><h1 class="example-app-name">AlkyBank</h1></a>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav #snav>
      <mat-nav-list class="px-5">
        <a mat-list-item routerLink="/home" routerLinkActive="active"
          ariaCurrentWhenActive="page"><mat-icon>home</mat-icon>Home</a>
        <a mat-list-item routerLink="/ingresos" routerLinkActive="active"
          ariaCurrentWhenActive="page"><mat-icon>account_balance</mat-icon> Ingresos/Egresos</a>
        <a mat-list-item routerLink="/enviar-dinero" routerLinkActive="active" ariaCurrentWhenActive="page"><mat-icon>
            monetization_on</mat-icon> Enviar Dinero</a>
        <a mat-list-item routerLink="/depositar-dinero" routerLinkActive="active" ariaCurrentWhenActive="page"><mat-icon>
          monetization_on</mat-icon> Depositar Dinero</a>
        <a mat-list-item routerLink="/plazosfijos" routerLinkActive="active" ariaCurrentWhenActive="page"><mat-icon>
            money</mat-icon> Plazos
          Fijos</a>
        <a mat-list-item routerLink="/contactos" routerLinkActive="active" ariaCurrentWhenActive="page"><mat-icon>
            contacts</mat-icon> Contactos</a>
        <a mat-list-item routerLink="/perfil" routerLinkActive="active"
          ariaCurrentWhenActive="page"><mat-icon>account_box</mat-icon> Perfil</a>
        <a mat-list-item routerLink="/billeteras" routerLinkActive="active"
          ariaCurrentWhenActive="page"><mat-icon>account_balance_wallet</mat-icon> Billeteras</a>
      </mat-nav-list>
      <button (click)="logout()" mat-button mat-raised-button color="primary" class="mx-auto d-flex justify-content-center mt-3"><mat-icon>info</mat-icon>Log
        Out</button>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="container">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>