<div class="example-container">
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="example-app-name">Menu-Sidebar</h1>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav #snav>
      <mat-nav-list class="px-5">
        <a mat-list-item routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
        <a mat-list-item routerLink="/ingresos" routerLinkActive="active" ariaCurrentWhenActive="page">Ingresos</a>
        <a mat-list-item routerLink="/egresos" routerLinkActive="active" ariaCurrentWhenActive="page">Egresos</a>
        <a mat-list-item routerLink="/enviarDinero" routerLinkActive="active" ariaCurrentWhenActive="page">Enviar Dinero</a>
        <a mat-list-item routerLink="/plazosFijos" routerLinkActive="active" ariaCurrentWhenActive="page">Plazos Fijos</a>
        <a mat-list-item routerLink="/contactos" routerLinkActive="active" ariaCurrentWhenActive="page">Contactos</a>
        <a mat-list-item routerLink="/perfil" routerLinkActive="active" ariaCurrentWhenActive="page">Perfil</a>
        <a mat-list-item routerLink="/billeteras" routerLinkActive="active" ariaCurrentWhenActive="page">Billeteras</a>
      </mat-nav-list>
      <button (click)="logout()" mat-button color="accent">Log Out</button>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="container">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>