<div class="gradient">
    <div class="container">
        <div class="row min-vh-100">
            <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                <h1 class="mx-5 pt-5 fs-3 pb-5 text-white text-center text-sm-center text-md-center text-lg-start">
                    AlkyBank
                </h1>
                <h1 class="text-white text-center fw-bold mx-5 mt-5 text-title">A-Wallet</h1>   
                <h1 class="text-white mt-3 fs-4 mt-5 mx-5">
                    A-Wallet es una billetera virtual segura y fácil de usar que le permite almacenar, enviar y recibir dinero desde su dispositivo móvil en cualquier momento y lugar. Con nuestra aplicación, puede realizar transacciones financieras rápidas y seguras con total tranquilidad.
                </h1>
                <div class="d-grid gap-2 mt-5">
                    <a routerLink="/login" class="text-center">
                        <button mat-raised-button color="primary" class="p-2 w-75 mx-auto shadow-lg fs-5">
                            Iniciar sesión
                        </button>
                    </a>
                    <a routerLink="/register" class="text-center">
                        <button mat-raised-button color="primary" class="p-2 w-75 mx-auto shadow-lg fs-5">
                            Registrarse
                        </button>
                    </a>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 d-flex align-items-end">
                <img src="/assets/hand.png" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</div>