<div class="container">
  <div class="row justify-content-center">
      <div class="col-md-10 col-sm-12 col-lg-6 col-12">
        <app-titulos [title]="'CAMBIAR CONTRASEÑA'"></app-titulos>
        <div class="card bg-dark p-5 border-0 shadow rounded-4 mb-5 mt-5">
          <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" class="reset-container mt-5">
            <div class="mb-3">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label for="password">Password: </mat-label>
                <input id="password" type="password" formControlName="password" matInput class="reset-right-align"
                  [type]="hide ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error class="text-center">
                  La contraseña no es valida
                </mat-error>
              </mat-form-field>
            </div>
            
            <div class="mb-3">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label for="confirmPassword">Confirmar password: </mat-label>
                <input id="confirmPassword" type="password" formControlName="confirmPassword" class="reset-right-align" matInput [type]="hide ? 'password' : 'text'">
                  <mat-error class="text-center">
                    Las contraseñas deben ser iguales
                  </mat-error>
               
            
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
            </div>
            <div class="d-grid gap-2">
              <button mat-raised-button color="primary" type="submit" class="p-1">CAMBIAR CONTRASEÑA</button>
            </div>
          
          </form>
        </div>
    </div>
  </div>
</div>

