<p class="text-center fs-3 mt-5">Contactos</p>
<mat-card>
  <mat-card-content>
    <mat-grid-list cols="1" rowHeight="100px">
      <mat-grid-tile>
        <mat-card>
          <mat-card-content>
            <mat-list>
              <mat-list-item class="mat-elevation-z4">
                <img mat-list-avatar src="assets/favico.jpg" class="img-fluid" alt="Nombre y apellido">
                <h3 mat-line>Nuevo contacto</h3>
                <p mat-line></p>   
                <button mat-icon-button color="green" class="add-contact" aria-label="Agregar Contacto" (click)="agregarContactoModal()">
                  <mat-icon>add</mat-icon>
                </button>            
              </mat-list-item>
            </mat-list>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile *ngFor="let contacto of contactos; let i = index">
        <mat-card>
          <mat-card-content>
            <mat-list>
              <mat-list-item class="mat-elevation-z4">
                <img mat-list-avatar src="{{contacto.img}}" alt="{{contacto.nombre}}">
                <h3 mat-line>{{contacto.nombre}}</h3>
                <p mat-line>{{contacto.entidadBancaria}}</p>
                <button mat-icon-button color="warn" aria-label="Eliminar contacto" (click)="borrarContacto(i)">
                  <mat-icon>delete</mat-icon>
                </button>                
              </mat-list-item>
            </mat-list>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
</mat-card>

  