<footer>
  <mat-grid-list cols="2" rowHeight="120px" color="">
    <mat-grid-tile>
      <img src="  assets/logo-footer-nobackground.png" alt="Logo" class="img-fluid">
    </mat-grid-tile>
    <mat-grid-tile>
     <ul>
      <li>
        <mat-icon color="primary"></mat-icon>
        <a href="#"><i class="fab fa-facebook"></i> Facebook</a>
      </li>
      <li>
        <mat-icon color="primary"></mat-icon>
        <a href="#"><i class="fab fa-instagram"></i> Instagram</a>
      </li>
      <li>
        <mat-icon color="primary"></mat-icon>
        <a href="#"><i class="fab fa-twitter-square"></i> Twitter</a>
      </li>
     </ul>
    </mat-grid-tile>
  </mat-grid-list>
</footer>


