<footer>
  <mat-grid-list cols="2" rowHeight="120px">
    <mat-grid-tile>
      <img src="  assets/logo-nobackground.png" alt="Logo">
    </mat-grid-tile>
    <mat-grid-tile>
     <ul>
      <li>
        <mat-icon fontIcon="facebook"></mat-icon>
        <a href="#">Facebook</a>
      </li>
      <li>
        <mat-icon fontIcon="facebook"></mat-icon>
        <a href="#">Instagram</a>
      </li>
      <li>
        <mat-icon fontIcon="facebook"></mat-icon>
        <a href="#">Twitter</a>
      </li>
     </ul>
    </mat-grid-tile>
  </mat-grid-list>
</footer>


